body{
    background-color: #F9F6EF;
    font-family: alpha;
    color: #282828;
}

.mapa
{
    margin-left: 20%;
    margin-top: 10%;
   transform: scale(1.4);
}
.mapa path
{
    fill: #193497;
    stroke-width: 2px;
    stroke: #EDA398;
}
.mapa path:hover
{
    fill: #EDA398;
}
.pata
{
    
    font-family: neovibes;
    margin-top: 7%;
    text-align: center;
    height: 40px;
   width: 100% auto;
   font-size: 20px;
   
   
}
@font-face {
    font-family: "neovibes";
    src: url('../fonts/neovibes.otf');
}
@font-face {
    font-family: alpha;
    src: url('../fonts/alphacorsa.personal-use.ttf');
}
.targeta
{
   font-family: 'ubuntu mono', Times, serif;
   position: absolute;
   color: #F9F6EF;
    top: 20%;
    margin-left: 75%;
    transform: scale(1.2);

}